* {
    margin: 0px;
}

header {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    text-align: center;
}

.confirm-image {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -315px;
    margin-left: -315px;
    opacity: 1;
}

#hideMe {
    -webkit-animation: cssAnimation 4s forwards; 
    animation: cssAnimation 4s forwards;
}

@keyframes cssAnimation {
    0%   {opacity: 1;}
    50%  {opacity: 1;}
    95%  {opacity: 0;}
    95%  {position: fixed;}
    95%  {top: 50%;}
    95%  {left: 50%;}
    95%  {margin-top: -315px;}
    95%  {margin-left: -315px;}
    100% {opacity: 0;}
    100% {position: fixed;}
    100% {margin-top: 2000px;}
    100% {margin-left: 2000px;}
}

@-webkit-keyframes cssAnimation {
    0%   {opacity: 1;}
    50%  {opacity: 1;}
    95%  {opacity: 0;}
    95%  {position: fixed;}
    95%  {top: 50%;}
    95%  {left: 50%;}
    95%  {margin-top: -315px;}
    95%  {margin-left: -315px;}
    100% {opacity: 0;}
    100% {position: fixed;}
    100% {margin-top: 2000px;}
    100% {margin-left: 2000px;}
}


.title-image {
    width: 100%;
    max-width: 700px;
}
nav > ul > li {
    padding-left: 24px;
    padding-right: 24px;
    display: inline;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}

nav > ul {
    padding-top: -16px;
    padding-bottom: 24px;
}

a.class1 {
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #8E008E;
}

a.class1:hover {
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #00C0C0;
}

a.class2 {
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #008E00;
}

a.class2:hover {
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #00C0C0;
}

a.class3 {
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #FF0000;
}

a.class3:hover {
    font-size: 14px;
    letter-spacing: 1px;
    color: #00C0C0;
}

h2 {
    font-family: sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: x-large;
    letter-spacing: 1px;
    text-align: center;
}

h3 {
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 700px;
    color: #002F32;
    font-family: sans-serif;
    font-size: large;
    text-align: left;
    line-height: 1.6;
}

h4 {
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 700px;
    color: #002F32;
    font-family: sans-serif;
    font-size: large;
    text-align: left;
    line-height: 1.6;
}

p {
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 700px;
    color: #002F32;
    font-family: sans-serif;
    font-size: 16px;
    text-align: left;
    line-height: 1.6;
    margin-top: 16px;
    margin-bottom: 16px;
}

body {
    background-color: #FFF6E6;
}

section {
    padding-top: 24px;
    padding-bottom: 24px;
}

#pink-section {
    background-color: #FF69B4;
}

.pink-text {
    color: #AE4B7B;
}

#red-section {
    background-color: #FF0000;
}

.red-text {
    color: #AB1314;
}

#orange-section {
    background-color: #FF8E00;
}

.orange-text {
    color: #B16710;
}

#yellow-section {
    background-color: #FFFF00;
}

.yellow-text {
    color: #AFAA11;
}

#green-section {
    background-color: #008E00;
}

.green-text {
    color: #006830;
}

#turquoise-section {
    background-color: #00C0C0;
}

.turquoise-text {
    color: #0D8B8C;
}

#indigo-section {
    background-color: #503795;
}

.indigo-text {
    color: #3B226F;
}

#violet-section {
    background-color: #8E008E;
}

.violet-text {
    color: #650F66;
}

#build-section {
    padding-top: 48px;
}

.build-text {
    color: black;
    opacity: .33;
}

.body-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 700px;
    padding-bottom: 24px;;
    text-align: center;
}

.color-selector-header {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 40px;
    line-height: 1;
    background: -webkit-linear-gradient(#FF69B4, #FF0000, #FF8E00, #FFFF00, #008E00, #00C0C0, #503795, #8E008E);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.color-selector {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    grid-gap: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36px;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 500px;
    text-align: center;
}

.color-selector > button {
    border: 0;
    background: white;
    padding: 1.5rem 1rem;
    text-align: center;
    border-radius: 8px;
    font-size: 3rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.color-selector > button:hover {
    border: 0;
    background: white;
    padding: 1.5rem 1rem;
    text-align: center;
    border-radius: 8px;
    font-size: 3rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

.color-selector > button:active {
    border: 0;
    background: white;
    padding: 1.5rem 1rem;
    text-align: center;
    border-radius: 8px;
    font-size: 3rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0);
}